[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
serve = "gunicorn --reload UtakoSite.wsgi"
pull-devel-secrets = "bash -c 'gcloud secrets versions access latest --secret=${SECRET_NAME_DEVELOP} > UtakoSite/secrets.develop.py'"
pull-prod-secrets = "bash -c 'gcloud secrets versions access latest --secret=${SECRET_NAME_PRODUCTION} > UtakoSite/secrets.production.py'"
push-devel-secrets = "bash -c 'gcloud secrets versions add ${SECRET_NAME_DEVELOP} --data-file=UtakoSite/secrets.develop.py'"
push-prod-secrets = "bash -c 'gcloud secrets versions add ${SECRET_NAME_PRODUCTION} --data-file=UtakoSite/secrets.production.py'"

[dev-packages]
pytest = "*"
pytest-django = "*"
factory_boy = "*"

[packages]
django = "~=2.2"
mysqlclient = "*"
gunicorn = "*"
social-auth-app-django = "*"
django-registration = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
numpy = "*"

[requires]
python_version = "3.6"
