{% extends "appbase.html" %}

{% block title %}
パスワードの変更
{% endblock %}

{% block content %}
<div class="row">
  <div class="card my-5 col-lg-6 offset-lg-3">
    <div class="card-body">
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {% for _, err_state in form.errors.items %}
            {{err_state}}
          {% endfor %}
        </div>
      {% endif %}

      <form method="post" action="{% url 'register:password_change' %}" >
        {% csrf_token %}
        <div class="form-group">
          {{form.old_password.label_tag}}
          {{form.old_password}}
        </div>
        <div class="form-group">
          {{form.new_password1.label_tag}}
          {{form.new_password1}}
        </div>
        <div class="form-group">
          {{form.new_password2.label_tag}}
          {{form.new_password2}}
        </div>
        <input type="submit" class="btn btn-primary float-right" value="パスワードを変更" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
