.embed_movie{
  position: relative;
  width: 100%;
  padding: 56.25% 0 0 0;
}
.embed_thumbnail{
  position: relative;
  width: 100%;
  padding: 35% 0 0 0;
}
.embed_movie iframe{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.embed_thumbnail iframe{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.bg-dark{
  background-color: #3a3d3f!important;
}
.navbar-brand > img{
  height: 50px;
}
#utako-img{
  width: 100%;
}
