{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm justify-content-center bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/pages/index/" class='nav-link'>TOP</a>
        </li>
        <li class="nav-item">
          <a href="/movie/" class='nav-link'>Movie</a>
        </li>
        <li class="nav-item">
          <a href="/tag/" class='nav-link'>Tag</a>
        </li>
      </ul>
    </nav>
    {% block body %}
    {{ content }}
    {% endblock %}
    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Nanamachi 2018</p>
        <p>サイト内で紹介されている動画の権利は各投稿者に帰属します</p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
