<div class="m-3">
  <form action='/movie/' method='get'>
    <div class="form-group">
      <input class="form-control" name="tags" value="{{ tags }}" placeholder="タグ">
    </div>
    <div class='form-row'>
      <div class="form-group col-md-6">
        <input class="form-control" name="min_view" value="{{ min_view }}" type="number" placeholder="再生数下限">
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" name="max_view" value="{{ max_view }}" type="number" placeholder="再生数上限">
      </div>
    </div>
    <div class='form-row'>
      <div class="form-group col-md-3">
        <input
        type="checkbox"
        class="custom-control-input"
        id="validity"
        name="validity"
        {% if validity %}
          checked
        {% endif %} >
        <label class="custom-control-label" for="validity">追跡失敗した動画を除外する</label>
      </div>
      <div class="form-group col-md-3">
        <input
        type="checkbox"
        class="custom-control-input"
        id="iscomplete"
        name="iscomplete"
        {% if iscomplete %}
          checked
        {% endif %} >
        <label class="custom-control-label" for="iscomplete">追跡未完了の動画を除外する</label>
      </div>
      <div class="form-group col-md-4">
        <select class="form-control" name="sortby">
          <option value="-postdate"
            {% if sortby == "-postdate" %} selected {% endif %}
          >新着順</option>
          <option value="postdate"
            {% if sortby == "postdate" %} selected {% endif %}
          >古い順</option>
          <option value="-max_view"
            {% if sortby == "-max_view" %} selected {% endif %}
          >再生数順</option>
          <option value="max_view"
            {% if sortby == "max_view" %} selected {% endif %}
          >再生数逆順</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary">検索</button>
      </div>
    </div>
  </form>
</div>
