<div class="m-3">
  <form action='/movie/' method='get'>
    <div class="form-group">
      <input class="form-control" name="q" value="{% if nico_api.q %}{{ nico_api.q }}{% endif %}" placeholder="検索ワード">
    </div>
    <div class='form-row'>
      <div class="form-group col-md-3 offset-md-3 custom-control custom-checkbox">
        <input
        type="checkbox"
        class="custom-control-input"
        id="not_analyzed"
        name="not_analyzed"
        style="position: static"
        {% if not_analyzed is True %}
          checked
        {% endif %} >
        <label class="custom-control-label" for="not_analyzed">解析されていない動画も表示する</label>
      </div>
      <div class="form-group col-md-4">
        <select class="form-control" name="sortby">
          <option value="-postdate"
            {% if sortby == "-postdate" %} selected {% endif %}
          >新着順</option>
          <option value="postdate"
            {% if sortby == "postdate" %} selected {% endif %}
          >古い順</option>
          <option value="-max_view"
            {% if sortby == "-max_view" %} selected {% endif %}
          >再生数順</option>
          <option value="max_view"
            {% if sortby == "max_view" %} selected {% endif %}
          >再生数逆順</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary">検索</button>
      </div>
    </div>
  </form>
</div>
