{% extends "base.html" %}
{% load static %}
{% block title %}
人工知能による、新しい音楽体験。
{% endblock title %}

{% block extra_css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'startbootstrap-landing-page/css/landing-page.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-3">
            <img class="brand-heading" src="{%static 'img/logo_main_opaque.svg'%}"
           alt="UTAKO TUNE 人工知能による、新しい音楽体験。">
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <a href="#principle" class="m-auto" style="text-decoration: none"><i class="icon-music-tone-alt text-primary"></i></a>
              </div>
              <h3>新しい音楽体験</h3>
              <p class="lead mb-0">好きなVOCALOID曲と簡単に出会える</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <a href="#technology" class="m-auto" style="text-decoration: none"><i class="icon-bulb text-primary"></i></a>
              </div>
              <h3>最新の技術</h3>
              <p class="lead mb-0">最先端の機械学習技術の利用</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <a href="#character" class="m-auto" style="text-decoration: none"><i class="icon-emotsmile text-primary"></i></a>
              </div>
              <h3>キャラクター</h3>
              <p class="lead mb-0">オリジナルキャラクターがVOCALOID曲の世界を案内</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Ads -->
    <div class="container">
      <div class="row my-4">
        <div class="col">
          {% include "ads.html" %}
        </div>
      </div>
    </div>

  <!-- About Section -->
    <section class="showcase">
      <div class="container-fluid p-0">

        <a name="principle"></a>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({% static 'img/index_01.jpg' %});"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <H2>Principle - 理念</H2>
            <p class="lead mb-0">
            「ボカロ曲，たくさんあって何から聞けばいいのかわからない」<br>
            「新しい曲，作者を見つけたいけど，手間がかかる」<br>
              こう思ったことはありませんか．私は思いました．<br>
              1日に100以上も投稿される新曲から好みの曲を探すのは至難の業です．<br>
              ここから自分の好みに合いそうな曲を探し出してくれる人がいれば．<br>
              ここから流行りそうな曲をいち早く探し出してくれるサービスがあれば．<br>
              それを叶えるかもしれないのが，UTAKO TUNEです．
            </p>
          </div>
        </div>

        <a name="technology"></a>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url({% static 'img/index_02.png' %});"></div>
          <div class="col-lg-6 my-auto showcase-text">
          <H2>Technology - 技術</H2>
          <p class="lead mb-0">
            背景には最先端の機械学習技術である畳み込みニューラルネットワークを使用．<br>
            人工知能が曲と曲を区別する際の「間違い」をあえて利用することで，
            今までにない楽曲推薦を可能としました．<br>
            今後も様々な最新技術を用いてさらに精度の高いサービスを提供します．
          </p>
        </div>
      </div>

      <a name="character"></a>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white"><img src="{% static 'img/index_03.jpg'%}" id="utako-img"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <H2>Character - キャラクター</H2>
          <p class="lead mb-0">
            UTAKO TUNEのガイドキャラクターが「折原 詩子」です．<br>
            2x歳，自宅警備員．実はハイスペックなのに，それを全く感じさせないダメ人間．
            掃除，洗濯，料理等諸々の生活の能力は皆無ですが，機械には強いです．
            ニコ動のボカロタグに張り付いては日夜楽曲を探しています．
          </p>
          <p class="lead mb-0">
            Designed and Illustrated by ゆう( <a href="https://twitter.com/rkms_msmn"> &#64;rkms_msmn </a> )
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Ads -->
  <div class="container">
    <div class="row my-4">
      <div class="col">
        {% include "ads.html" %}
      </div>
    </div>
  </div>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <h2 class="mb-4">さあ，始めましょう</h2>
        </div>
        <div class="col-6 col-md-4 mx-auto">
          <div class="col">
            <a class="btn btn-block btn-lg btn-primary" href="/movie">START</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="features-icons text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>開発に参加する</h2>
          <p>以下のリンクからお気軽にどうぞ．</p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://twitter.com/utako_orihara" class="btn btn-outline-primary btn-lg">
                <i class="fa fa-twitter fa-fw"></i>
                <span class="network-name">Twitter</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/UtakoTuneProj/" class="btn btn-outline-primary btn-lg">
                <i class="fa fa-github fa-fw"></i>
                <span class="network-name">Github</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    <!-- Ads -->
      <div class="row">
        <div class="col my-4">
          {% include "ads.html" %}
        </div>
      </div>

    </div>
  </section>
{% endblock body %}

{% block extra_js %}
{% endblock extra_js %}
