{% extends "base.html" %}

{% block content %}
  <script type="application/javascript" src="https://embed.nicovideo.jp/watch/{{ movie.id }}/script?w=720&h=480"></script><noscript><a href="http://www.nicovideo.jp/watch/{{ movie.id }}">リンク</a></noscript><br>

  <h3>解析情報</h3>
  <table class="table">
    <thead>
      <tr>
        <td> 動画ID </td>
        <td> 投稿日時 </td>
        <td> エポック数 </td> 
        <td> 正当性 </td>
        <td> 完了 </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ movie.id }} </td>
        <td> {{ movie.postdate }} </td>
        <td> {{ movie.epoch }} </td>
        <td> {{ movie.validity }} </td>
        <td> {{ movie.iscomplete }} </td>
      </tr>
    </tbody>
  </table>

  <h3>チェックポイント時タグ</h3>
  <ul class"list-group">
  {% for tag_cell in tags %}
    <li class="list-group-item"> <a href="../../tag/{{tag_cell.tagname}}">{{tag_cell.tagname}}</a> </li>
  {% endfor %}
  </ul>
  
  <h3>推移</h3>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#chart">展開</button>

  <div class="collapse" id="chart">
  <table class="table">
    <thead>
      <tr>
        <td> epoch </td>
        <td> views </td>
        <td> comments </td> 
        <td> mylists </td>
      </tr>
    </thead>
    <tbody>
      {% for chart_cell in chart %}
      <tr>
        <td> {{ forloop.counter0 }} </td>
        <td> {{chart_cell.view}} </td>
        <td> {{chart_cell.comment}} </td>
        <td> {{chart_cell.mylist}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock content %}
