{% extends "appbase.html" %}

{% block title %}
{% if tags %}{{tags}}{%else%}SEARCH{% endif %}
{% endblock title %}

{% block content %}

  <!-- Ads -->
  <div class="row my-4">
    <div class="col">
      {% include "ads.html" %}
    </div>
  </div>

  {% include "searchbox.html" %}
  {% include "paginator.html" %}

  <div class='row'>
  {% for movie in page_obj %}
    <div class='col-lg-4 col-md-6 my-3'>
      <div class="embed_thumbnail">
        <iframe width="320" height="125" src="https://ext.nicovideo.jp/thumb/{{movie.id}}" scrolling="no" style="border:solid 1px #ccc;" frameborder="0">
        </iframe>
      </div>
      <a href="{{movie.id}}" class="btn {% if movie.isanalyzed %}btn-outline-primary{% else %}btn-outline-secondary{% endif %} btn-lg col-12">
      {{movie.id}}
      {% if movie.isanalyzed %}
        解析済
      {% else %}
        未解析
      {% endif %}
      </a>
    </div>
  {% endfor %}
  </div>

  {% include "paginator.html" %}

  <!-- Ads -->
  <div class="row my-4">
    <div class="col">
      {% include "ads.html" %}
    </div>
  </div>

{% endblock content %}
