{% extends "appbase.html" %}

{% block content %}
  {% include "searchbox.html" %}
  {% include "paginator.html" %}

  <div class='row'>
  {% for movie in movies %}
    <div class='col-sm my-2'><div class="box">
      <iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/{{movie.id}}" scrolling="no" style="border:solid 1px #ccc;" frameborder="0">
      </iframe>
      <br>
      <a href="{{movie.id}}">{{movie.id}}</a>
    </div></div>
  {% endfor %}
  </div>

  {% include "paginator.html" %}
{% endblock content %}
