{% extends "base.html" %}
{% block content %}
<h1>{{ tagname }}</h1>
<br>
<h4>該当動画</h4>

{% for movie in movies %}
  <iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/{{movie.id}}" scrolling="no" style="border:solid 1px #ccc;" frameborder="0">
  </iframe>
  <a href="../../movie/{{movie.id}}">{{movie.id}}</a><br>
{% endfor %}

{% if movies.has_previous %}
  <a href="?page=1">&laquo; first</a>
  <a href="?page={{ movies.previous_page_number }}">previous</a>
{% endif %}
Page{{ movies.number }} of {{movies.paginator.num_pages}}
{% if movies.has_next %}
  <a href="?page={{ movies.next_page_number }}">next</a>
  <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
{% endif %}
{% endblock content %}
